@model IEnumerable<OnlineTradingHouse.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>

@if (User.IsInRole("Admin") || User.IsInRole("Supplier"))
{
    <p>
        @Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-primary btn-sm" })
    </p>
}
@{
    <style>
    .center{
        text-align: center;
    }
    </style>
}
<table class="table">
    <tr>
        <th>            Title        </th>
        <th>Description        </th>
        <th>Grade</th>
        <th>Size</th>
        <th>Weight</th>
        <th>Color</th>
        <th>Image</th>
        <th>Available Quantity</th>
        <th>Required Delivery Days</th>
        <th>Supplier</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Grade)</td>
            <td>@Html.DisplayFor(modelItem => item.Size)</td>
            <td>@Html.DisplayFor(modelItem => item.Weight)</td>
            <td>@Html.DisplayFor(modelItem => item.Color)</td>
            <td><img src="~/Images/@item.Image" width="80" height="80"/></td>
            <td>@Html.DisplayFor(modelItem => item.AvailableQuantity)</td>
            <td>@Html.DisplayFor(modelItem => item.RequiredDeliveryDays)</td>
            <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Supplier"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                }
                @if (User.IsInRole("Buyer"))
                {
                    @Html.ActionLink("Request Now", "RequestNow", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
                }

            </td>
        </tr>
    }

</table>
